@page
@model AfyaConnectLite.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h3>You have successfully logged out.</h3>
    <p>Thank you for using AfyaConnect Lite.</p>
    <a class="btn btn-primary" href="/Account/Login">Login Again</a>
</header>
