<nav>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Account/Login">Login</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Account/Register">Register</NavLink>
        </li>
    </ul>
</nav>
