**/.dockerignore
**/Dockerfile
**/docker-compose*
**/docker-compose.*.yml
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/npm-debug.log*
**/Dockerfile.*
**/appsettings.Development.json
**/appsettings.Local.json
